<div class="container">
<div class="row">
    <div class="col-md-6 laugh">
        <img class="lol1" src={{img}} alt="">
    </div>
    <div class="col-md-6 laugh">
        <label>Title:<br><strong>{{title}}</strong></label>
        <br>
        <label>Price:<br><strong>{{price}}</strong></label>
        <br>
        <label>Author:<br><strong>{{author}}</strong></label>
        <br>
        <button class="btn btn-primary" routerLink="" (click)="addtocart()">Add to cart</button>
    </div>
</div>
</div>
